/* imported the Inter and Raleway font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* global declaration */
* {
  margin: 0px;
}

/* header/hero section */

header {
  background-image: url(/assets/Hero-bg.png);
  background-size: cover;
  width: auto;
  height: 700px;
  padding: 0px 150px;

  font-family: Raleway;
}
header li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#navLogo {
  color: rgb(78, 71, 255);
  font-family: Inter;
  font-size: 34px;
  font-weight: 900;
  text-align: left;
}

.navBar ul {
  height: 151px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; used for debugging */
}
.heroMid h1 {
  padding: 0px 120px;
  color: rgb(37, 36, 50);
  font-size: 65px;
  font-weight: 700;
}
.heroMid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  text-align: center;
  margin: 150px 0px 150px 0px;
}

/* heder end */

/* reusable: common properties for button */
#btnCommon {
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
  background: rgb(78, 71, 255);

  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
}
/* reusable button end */

main {
  background: #f5f8ff;
}

/* >>>>>First Section<<<<< */
.firstSection {
  padding: 115px 0px;
  margin: 0px 150px;
  font-family: Raleway;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 320px;
}

.firstSectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 23px;
}
.firstSectionLeft h2 {
  color: rgb(37, 36, 50);
  font-size: 42px;
  font-weight: 700;
}

.firstSectionLeft p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
}

.firstSection img {
  border-radius: 48px;
}

/* >>>>>Second Section<<<<< */
.secondSection {
  margin: 0px 150px 135px;
  padding: 50px 80px;

  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.secondSection h3 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
.secondSectionBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
}

.secondSectionBottom h1 {
  color: rgb(78, 71, 255);
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.secondSectionBottom p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

/* >>>>>Third Section<<<<< */

.thirdSection {
  margin: 0px 150px 135px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 50px;
}

.thirdSection h3 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.thirdSectionBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.reviewCard {
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgb(242, 237, 237);
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.rating {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4px;
}

.reviewCard h4 {
  margin-top: 16px;
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.reviewCard p {
  margin-bottom: 16px;
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 318px;
}

.reviewerInfo {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 12px;
}
.reviewerInfo Img {
  border-radius: 50%;
}

.reviewerInfoRight h5 {
  color: rgb(117, 117, 117);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.reviewerInfoRight p {
  color: rgb(179, 179, 179);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
/* Fourth Section */
.fourthSection {
  margin: 0px 150px 90px;
  border-radius: 14px;
  background: rgb(255, 255, 255);
  padding: 70px 150px 70px 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fourthSection h2 {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.fourthSection p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.fourthSection Img {
  border-radius: 48px;
}

/* Fifth Section */
.fifthSection {
  margin: 0px 150px 14px;
  padding: 70px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
}

.fifthSection h1 {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 97px;
  font-weight: 700;
  text-align: left;
}

.fifthSection .form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  min-width: 500px;
}
.fifthSection .form label {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  text-align: left;

  display: block;
  margin-bottom: 0px;
}
.fifthSection .form input[type="email"],
input[type="text"] {
  padding: 20px 32px 20px 32px;
  text-align: left;

  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;

  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.fifthSection .form textarea {
  padding: 20px 32px 20px 32px;
  text-align: left;
  resize: none;

  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
#btnForm {
  border: none;
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
  background: rgb(78, 71, 255);

  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
}

/* Footer */
footer {
  padding: 104px 455px;
}

.footnote {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

footer h1 {
  color: rgb(78, 71, 255);
  font-family: Inter;
  font-size: 100px;
  font-weight: 900;
  /* margin: 8px 0px; */
  text-align: center;
}

footer p {
  color: rgb(137, 135, 161);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: rgb(137, 135, 161);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}

.footnote ul {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
